@import "../sass/normalize";
@import "../node_modules/bourbon/app/assets/stylesheets/bourbon";
@import "../node_modules/bourbon-neat/app/assets/stylesheets/neat";
@import "../sass/base/base";

body {
    background-color: #DC4729;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.main_title {
    font-size: 2em;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 -20px;
}

.spin {
    @include animation-name(rotateThis);
    @include animation-duration(1s);
    @include animation-iteration-count(infinite);
    @include animation-timing-function(linear);
}

@include keyframes (rotateThis) {
    from {
        @include transform(rotate( 0deg ));
    }
    to  {
        @include transform(rotate( 360deg ));
    }
}

.clearfix {
    @include clearfix;
}

.pull_right {
    float: right;
}

.pull_left {
    float: left;
}

.text_center {
    text-align: center;
}
